<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.uchoabruno.helloworld"
        versionCode="0" 
        version = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Hello World</name>

    <description>
        My first PhoneGap app. 
    </description>

    <author href="https://github.com/uchoabruno" email="uchoabruno@yahoo.com.br">
        Bruno Uchoa
    </author>

</widget>